/*General notes:*/
/*- very good overall! Especially impressive given how little time you had*/
/*- the convention is usually to start all file names as lower case*/
/*-To avoid creating classes everywhere, you can nest selectors like ".className a"*/
/*Try to favour using classes instead of ids: most devs just use classes even for single things*/

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    border: ghostwhite solid;
}

#navigation{
    border-bottom-color:ghostwhite;
    border: solid;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    text-decoration: none;
}

/*As I mentioned in the HTML, you can just use:*/
/*.navbutton a*/
.navbutton{
    color: white;
    text-decoration: none;

}

/*Delete this if it isn't used*/
#welcome{
}

.banner {
    /*Be consistent with putting spaces after the colons*/
    display:flex;
    justify-content: center;
}

/*Remove if no styling is added*/
#profile{
}

/*Also be consistent with putting spaces before the
opening curly bracket*/
.biography{
    display: flex;
    justify-content: space-evenly;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/*Remove if no styling is added*/
#portfolio{
}

.title{
    display: flex;
    justify-content: center;
}

.project_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Put the first rule on a new line*/
#contact {background:white;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
