* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-emphasis-color: white;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.banner {
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}

.profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.biography {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.project_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
}

.socials {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
